
@import "tailwindcss";

@theme {
  /* fonts */
  --default-font-family: "Outfit", system-ui, sans-serif;
  --font-heading: "Bricolage Grotesque", system-ui;

  /* colors,bg-colors */
  --pc-orange: #ffcd69;
  --pc-grey: #efefef;
}
